<!-- <style type="text/css">
  .nav-item {
  font-family: "IowanOldSt BT";
}

.nav-item a {
  float: left;
  color: rgb(73,71,71);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 15px;
}

.nav-item a:hover {
  color: rgb(128,0,0);
  -webkit-transform:translateY(-5px);transform: translateY(-5px);
  background-color:transparent;
}

a:hover{
  color:rgb(128,0,0);
}

.contact .social-links{position:absolute;left:0}
.contact a{border-bottom:0;color:#342D33;font-size:1.728em;margin-right:0.7em;padding-bottom:0}
.contact a i{-webkit-transition:-webkit-transform .2s;transition:-webkit-transform .2s;transition:transform .2s;transition:transform .2s,-webkit-transform .2s}
.contact a:hover i{-webkit-transform:translateY(-10px);transform:translateY(-10px)}

</style>
 -->
<nav>
    <div class="nav-wrapper white">
      <a href="/" class="brand-logo center" style="font-size: 40px">Nick Chua</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down" style="margin-left: 15px">
        <li class="nav-item"><a href="/about">start here</a></li>
        <li class="nav-item"><a href="/">blog</a></li>
        <li class="nav-item"><a href="/newsletter">newsletter</a></li>
        <li class="nav-item"><a href="/books">reading list</a></li>
        <li class="nav-item"><a href="/exp">experience</li>
      </ul>
      <div class="contact">
      <ul class="right hide-on-med-and-down">
        <li><a href="https://twitter.com/CoastingCbf" target="_blank" class="nav-item"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://www.linkedin.com/in/nicolas-chua-7bb610108/" target="_blank" class="nav-item"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://www.instagram.com/nickchewie/?hl=en" target="_blank" class="nav-item"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a href="/about">start here</a></li>
      <li><a href="/">blog</a></li>
      <li><a href="/newsletter">newsletter</a></li>
      <li><a href="/books">reading list</a></li>
      <li><a href="/exp">experience</li></a>
  </ul>

