<!-- <nav class="navbar navbar-expand-lg navbar-light">
  {% include nav_items.html %}

  <div class='d-flex col-md-12 col-lg-8 order-0' style='justify-content: flex-end; align-items: left'>
    <a class="navbar-brand mx-auto" href='/'><h1>Nick Chua</h1></a>

      <button class="navbar-toggler ml-auto" type="button" style='border: none;' data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</nav>
<hr style='margin-top: 0em; margin-bottom: 1em;' /> -->

<nav id="topNav" class="navbar static-top navbar-expand-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        ☰
    </button>
    <div class="topnav-centered">
      <a class="navbar-brand mx-auto" href="/"><h1>Nick Chua</h1></a> 
    </div>
    <!-- <div class="navbar-collapse collapse" id="navbarNav"> -->
    <div class="navbar-collapse collapse topNav-right" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">start here</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newsletter">newsletter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/readinglist">reading list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exp">experience</a>
            </li>
        </ul>
    </div>

<!--     <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div> -->
</nav>