<div class='collapse navbar-collapse col-md-12 col-lg-4 order-1' id='navbarNav'>
  <ul class='navbar-nav ml-auto'>
    <li class='nav-item'>
      <a class='nav-link' href='/about'>start here</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/blog'>blog</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/newsletter'>newsletter</a>
    </li>
    <li>
      <a class='nav-link' href='/readinglist'>reading list</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/exp'>experience</a>
    </li>
  </ul>
</div>
