<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% include nav_items.html %}

    <div class='d-flex col-md-12 col-lg-8 order-0'>
      <a href='/' class='w-100'>
        Nick Chua
      </a>
      <span class="w-100"></span>
      <div class="d-flex order-0">
        <button class="navbar-toggler" type="button" style='border: none' data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

  </nav>