<div class="nav-links">
	<div class="wrapper--nav">
		<div class="page-title">
			<a href="/"><h1>Nick Chua</h1></a>
		</div>
			<div class="page-links">
				<a href="/about" ><button class="btn-no-outline">about me</button></a>
				<a href="/newsletter"><button class="btn-no-outline">newsletter</button></a>
				<a href="/" ><button class="btn-no-outline">blog</button></a>
				<a href="/readinglist"><button class="btn-no-outline">reading list</button></a>
				<!-- <a href="/exp" class="contact-btn"><button class="btn-no-outline">experience  </button></a> -->
			</div>
		</div>
	</div>


<!-- <nav class="navbar px-0 navbar-expand-lg navbar-light" style="font: Rubik">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
  <div class="col-md-6"><a href="/"><h1>Nick Chua</h1></a></div>
  <div class="col-md-6">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav m">
      <a class="nav-item nav-link active" href="/about">about me <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/newsletter">newsletter <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/blog">blog <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/readinglist">reading list <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="exp">experience <span class="sr-only">(current)</span></a>
    </div>
  </div>
</div>
</div>
</nav> -->