<!DOCTYPE html>
<html lang="en">
<head>
{%include header.html%}
{% include matnav.html %}

</head>
<body>
  <div class="wrapper">
  	<h2>
  		<b>Books:</b>
  	</h2>
  	<p>
  		Books are the cheat code to knowledge acquisition. A successful book can transport the reader to another world, or condense thousands of hours of research into a few succint pages. These are the books I've read recently that I would recommend. For my reading list of podcasts and articles click <a href="/readinglist">here</a>.
	  </p>
	  <p>
		  Links that say read more will bring up a short summary while review links will bring you to a completed review of the whole book.
	  </p>
  	<h2>
  		<b>In progress:</b>
  	</h2>
  	<div class="row">
    
    <div class="col s4 l4">
    	<div class="card small">
    		<div class="card-image waves-effect waves-block waves-light">
    			<img class="activator" src="pictures/books/upheaval.png">
    		</div>
    	<div class="card-content">
    		<p>
    			Jared Diamond compares and contrasts countries in crisis.
    		</p>
    	</div>
    	<div class="card-action">
    		<span class="card-action activator" style="color: rgb(128,0,0); cursor:pointer;">
    			READ MORE
    		</span>
    	</div>
    	<div class="card-reveal">
    		<span class="card-title grey-text text-darken-4">Quick Summary
    			<i class="material-icons right">close</i>
    		</span>
    		<p>
    			More to come - just started the book this week.
    		</p>
    	</div>
    </div>
</div>

	<div class="col l4 hide-on-small-and-down">
	</div>

	<div class="col l4 hide-on-small-and-down">
	</div>

	</div>
<!-- End of In Progress Books-->

	<h2>
		<b>Completed:</b>
	</h2>
	
	<!--Beginning of Row 1 Completed-->
	<div class="row">

<div class="col s12 l4">
	<div class="card small">
		<div class="card-image waves-effect waves-block waves-light">
			<img class="activator" src="pictures/books/secrets.png">
		</div>
	<div class="card-content">
		<p>
			Scott Kupor gives an inside look to the inner workings of the valley.
		</p>
	</div>
	<div class="card-action">
		<a href="/r1" target="_blank">Review</a>
	</div>
</div>
</div>

    <div class="col s12 l4">
      <div class="card small">
    	<div class="card-image waves-effect waves-block waves-light">
    		<img class="activator" src="pictures/books/3bod.png">
    	</div>
        <div class="card-content">
          <p>
          	Fundamental science is failing, and we have a limited time to find out why...
          </p>
        </div>
    	<div class="card-action">
    		<span class="card-action activator" style="color: rgb(128,0,0); cursor:pointer;">
    			READ MORE
    		</span>
    	</div>
    	<div class="card-reveal">
    		<span class="card-title grey-text text-darken-4">Quick Summary
    			<i class="material-icons right">close</i>
    		</span>
    		<p>
    			This is one of those books where revealing even the smallest number of plot details would ruin it. With that being said, it took me a few pages to get into the book. After I got hooked, however, it was impossible to stop. I raced to finish every page and the book kept building as it went on. I really can't wait to read the next two after I finish Upheaval...
    		</p>
    	</div>
      </div>
  </div>

     <div class="col s12 l4">
      <div class="card small">
    	<div class="card-image waves-effect waves-block waves-light">
    		<img class="activator" src="pictures/books/hard.png">
		</div>
		<div class="card-content">
			<p>
				I thought I knew what working hard to succeed meant. I didn't. 
			</p>
		</div>
		<div class="card-action">
			<a href="/r2" target="_blank">Review</a>
		</div>
	</div>
	  <!--This div ends row one of books-->
	</div>

<!--Beginning of Row 2 Books-->
	<div class="row">
			<!-- Book 1-->
			<div class="col s12 l4">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="pictures/books/dif2.png">
					</div>
				<div class="card-content">
				  <p>
					  Youngme Moon explains why competition to differentiate makes us all the same.
				  </p>
				</div>
				<div class="card-action">
					<span class="card-action activator" style="color: rgb(128,0,0); cursor:pointer;">
						READ MORE
					</span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Quick Summary
						<i class="material-icons right">close</i>
					</span>
					<p>
						I used to think that marketing was simple for companies - show that your product has all the features of the competitors with a little extra juice, how hard could that be? 
					</p>
					<p>
						This is the problem. Companies and employees too often strive to shore up weaknesses instead of focusing on strengths and <u>increasing differentiation</u>. She gives lots to think about, and I will be writing a full review soon.
					</p>
				</div>
			  </div>
		  </div>
	
		  <!--Book 2-->
		  <div class="col l4 hide-on-small-and-down"></div>
	
		  <!--Book 3-->
		  <div class="col l4 hide-on-small-and-down"></div>
	

 	</div>








{%include footer.html%} 
</body>
<script type="text/javascript" src="materialize.min.js"></script>
