
<!DOCTYPE html>
<html>
<head>
{%include header.html%}
<body>
	<div class="wrapper">
		<div class="site site-home">
			<section class="animated fadeIn">
				{%include navbar.html%}
				<div class="about">
					<div class="bio"> 
						<p>👋 I'm a 22-year-old living in Chicago working in Private Equity at Inoca Capital Partners. I created this website because I realized that I could have meaningful conversations with my friends on a variety of topics, but social media fails to facilitate that kind of information exchange. I believe the best learning is through discourse, and I hope that this website can help connect me with others. To that end, I publish a weekly newsletter with my notes for the week on interesting news and podcasts, as well as any of my own original posts here. I would love to connect on any of or all of the above.</p>
						<p>In my previous life I was a tennis player at the University of Chicago, and I'm currently reading/writing about Venture Capital, Private Equity, Tech, and Star Wars. </p>
						<p>If any of the above interest you,<a href="mailto:nick@nickchua.me" target="_blank"> you can reach me here</a> or <a href="/newsletter">subscribe here. </a></p>
					</div>
					<div class="shapes">
						<!--<img src="IMG_8892.jpeg" class="shapes--left animated fadeInDown">-->
						<img src="IMG_8892.jpeg" class="shapes--right animated fadeInDown">
					</div>
				</div>
				<div class="contact">
					<div class="social-links">
						<a href="https://www.instagram.com/nickchewie/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
						<a href="https://twitter.com/CoastingCbf" target="_blank"><i class="fab fa-twitter-square"></i></a>
						<a href="https://www.linkedin.com/in/nicolas-chua-7bb610108/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
				</section>
			</div>
		</div>
{%include footer.html%}
</body>
</html>