<!DOCTYPE html>
<html lang="en">
<head>
{%include header.html%}
{% include matnav.html %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize.css"  media="screen,projection"/>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="test.css">
</head>
<body>
  <div class="wrapper">
    <div class="site site-blog sub-page">


      <div class="simple-subscription-form">
        {%include subscribe.html%}
        <!--<div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=83709a4ce1488d13b1e0481d3&amp;id=5365ba50a1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2 style="font-family: IowanOldSt BT">Newsletter</h2>
              <p style="font-family: IowanOldSt BT">
                I try to send an email newsletter every Sunday with a new article or a recap of interesting news articles, podcasts, or books that I enjoyed that week. If you'd like to be kept up to date on these, subscribe below.
              </p>
                <div style="font-family: IowanOldSt BT" class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group">
                <label style="font-family: IowanOldSt BT" for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
              <div class="mc-field-group">
              <label style="font-family: IowanOldSt BT" for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>-->    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <!--<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_83709a4ce1488d13b1e0481d3_5365ba50a1" tabindex="-1" value=""></div>
          <div style="font-family: IowanOldSt BT" class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>-->
        <h3>Past Newsletters</h3>
        <p>#50 <a href="https://mailchi.mp/2ab263475a29/nicks-newsletter-no-50" target="_blank">The Duality of Disney</a></p>
        <p>#49 <a href="https://mailchi.mp/31f6f45749de/nicks-newsletter-no-49" target="_blank">When Banking Fails</a></p>
        <p>#48 <a href="https://mailchi.mp/810ec17c39f2/nicks-newsletter-no-48" target="_blank">Congressional Insider Trading, Covid-19, and The Captain Class</a></p>
        <p>#47 <a href="https://mailchi.mp/f7499fe4d4b0/nicks-newsletter-no-47" target="_blank">The Uncensored Library and Covid-19 Links</a></p>
        <p>#46 <a href="https://mailchi.mp/cb312d7b9e13/nicks-newsletter-no-46" target="_blank">Food Delivery Wars and Shoe Dog</a></p>
        <p>#45 <a href="https://mailchi.mp/4ef9208e01c9/nicks-newsletter-no-45" target="_blank">Coffee as a Service, SaaS Margins, and MeUndies</a></p>
        <p>#44 <a href="https://mailchi.mp/c2ddc39b440e/nicks-newsletter-no-44" target="_blank">Why Apple Should Buy Whoop pt.1</a></p>
        <p>#43 <a href="https://mailchi.mp/1fe0dd2e2266/nicks-newsletter-no-43" target="_blank">Presidential Meme Wars and White House Stock Incentives</a></p>
        <p>#42 <a href="https://mailchi.mp/7a60ff6087af/nicks-newsletter-no-42" target="_blank">100 True Fans, Chik Fil A Franchising, and Adam Sandler's Netflix Dominance</a></p>
        <p>#41 <a href="https://mailchi.mp/c47a5de8727c/nicks-newsletter-no-41" target="_blank">Kobe, Astros Cheating Cont., and a Math Tip</a></p>
        <p>#40 <a href="https://mailchi.mp/312c54be62d4/nicks-newsletter-no-40" target="_blank">Astros Cheating Scandal pt. 1</a></p>
        <p>#39 <a href="https://mailchi.mp/a16ce3e092aa/nicks-newsletter-no-39" target="_blank">David Drummond, Razer Youth Bank, and some Cool Graphs</a></p>
        <p>#38 <a href="https://mailchi.mp/756ac9cdef71/nicks-newsletter-no-38" target="_blank">Removing Algebra Requirements and Rivian's $1.3b Raise</a></p>
        <p>#37 <a href="https://mailchi.mp/69f3a6db6f97/nicks-newsletter-no-37" target="_blank">The Decline in Chinese Restaurants and Modern Time Crunch</a></p>
        <p>#36 <a href="https://mailchi.mp/332710804ddd/nicks-newsletter-no-36" target="_blank">The Rise of Skywalker</a></p>
        <p>#35 <a href="https://mailchi.mp/267d2ebbf5d7/nicks-newsletter-no-35" target="_blank">Away Luggage pt. 2, Occupations Through Time, and The Burning White</a></p>
        <p>#34 <a href="https://mailchi.mp/9c9efe3397d4/nicks-newsletter-no-34" target="_blank">Pipeline Bias, Tech IPOs vs Dominos, and Zero to One</a></p>
        <p>#33 <a href="https://mailchi.mp/aa25b0863f81/nicks-newsletter-no-33" target="_blank">Failing Fast, Atomic Habits, and The Wealth Gap</a></p>
        <p>#32 <a href="https://mailchi.mp/e3ca82dcc2ec/nicks-newsletter-no-32" target="_blank">Culdesac and What You Do Is Who You Are</a></p>
        <p>#31 <a href="https://mailchi.mp/cb68a74db435/nicks-newsletter-no-31" target="_blank">Removing Like Counters and Disney+ Launch</a></p>
        <p>#30 <a href="https://mailchi.mp/94c30e716b4a/nicks-newsletter-no-30" target="_blank">Seed Returns, Weed Econ 101, and Can't Hurt Me</a></p>
        <p>#29 <a href="https://mailchi.mp/73fa63d4b1e1/nicks-newsletter-no-29" target="_blank">Investing in Luck, Pedestrian Danger, and a Super Mountain Bike Jump</a></p>
        <p>#28 <a href="https://mailchi.mp/08b5210cc17c/nicks-newsletter-no-28" target="_blank">Genetics vs Teachers, Gendered Workplaces, Disney's Dominance, and Ali Wong</a></p>
        <p>#27 <a href="https://mailchi.mp/11d31b98d2e6/nicks-newsletter-no-27" target="_blank">The Passion Economy, Free Speech, and the Future of Entertainment</a></p>
        <p>#26 <a href="https://mailchi.mp/f069a319d1ed/nicks-newsletter-no-26" target="_blank">Refuting the Red Meat Scare, IPO Shenanigans, Flying Spiders, and two books I read</a></p>
        <p>#25 <a href="https://mailchi.mp/0b07d292385f/nicks-newsletter-no-25" target="_blank">Writing Docs @ Amazon, Fraud-to-Fine Ratios, Ignite IPO and Quantum Supremacy</a></p>
        <p>#24 <a href="https://mailchi.mp/35c8417d3db3/nicks-newsletter-no-24" target="_blank">Double Down vs Spray and Pray, Grandmaster Diets, and Car Hacks</a></p>
        <p>#23 <a href="https://mailchi.mp/ecf027107854/nicks-newsletter-no-23" target="_blank">Bear Case for Peloton, Diversity Through Children, and Commercializing Group Chats</a></p>
        <p>#22 <a href="https://mailchi.mp/bafca19fce86/nicks-newsletter-no-22" target="_blank">Singularity6, Stress and Death, Trying to Time the Market</a></p>
        <p>#21 <a href="https://mailchi.mp/30091a177af4/nicks-newsletter-no-21" target="_blank">Facebook Copying My Post, Singularity6, and Ultra-Wealth Taxes</a></p>
        <p>#20 <a href="https://mailchi.mp/7479ca7cd78e/nicks-newsletter-no-20" target="_blank">Make Posting Great Again, AI Gaydar, and Signaling</a></p>
        <p>#19 <a href="https://mailchi.mp/abace67697f7/nicks-newsletter-no-19" target="_blank">Founder Friendly?, Nuclear Climate Change, Body Building Joke, and three graphs</a></p>
        <p>#18 <a href="https://mailchi.mp/bbe21f4c14aa/nicks-newsletter-no-18" target="_blank">Economist Open Future and the Gender Gap</a></p>
        <p>#17 <a href="https://mailchi.mp/831c90cd9149/nicks-newsletter-no-17" target="_blank">Friends vs Creativity, Automation, Tesla's Affordability, Tennis GOATs, and Prediction</a></p>
        <p>#16 <a href="https://mailchi.mp/c0920e1227c4/nicks-newsletter-no-16" target="_blank">E-sport Three Comma Club, Math Behind Momentum, and The Refragmentation</a></p>
        <p>#15 <a href="https://mailchi.mp/0de72f8678e4/nicks-newsletter-no-15" target="_blank">My Japan Ramen Review, Winner-Take-All Cities, Range, and Harry Stebbings</a></p>
        <p>#14 <a href="https://mailchi.mp/b2cefe2ee33f/nicks-newsletter-no-14" target="_blank">Esport Blog Post</a></p>
        <p>#13 <a href="https://mailchi.mp/055a131ce7a2/nicks-newsletter-no-13" target="_blank">The Hard Thing About Hard Things, Coach K, and Superhuman</a></p>
        <p>#12 <a href="https://mailchi.mp/d7a259473d7b/nicks-newsletter-no-12" target="_blank">Secrets of Sand Hill Road, Don't Listen to Your Friends</a></p>
        <p>#11 <a href="https://mailchi.mp/63dca8905696/nicks-newsletter-no-11" target="_blank">Esports Position Paper Part 4</a></p>
        <p>#10 <a href="https://mailchi.mp/d90ab04e661b/nicks-newsletter-no-10" target="_blank">Tiananmen Square, Matthew Ball, WWDC</a></p>
        <p>#9 <a href="https://mailchi.mp/116736bd1281/nicks-newsletter-no-9" target="_blank">Headline risks, UNC Hospital Coverup, Auxbus</a></p>
        <p>#8 <a href="https://mailchi.mp/e7c8e5dad560/nicks-newsletter-no-8" target="_blank">You v. Algorithm, Farmer Trade Wars, Huawei, Root</a></p>
        <p>#7 <a href="https://mailchi.mp/94e32adfbf96/nicks-newsletter-no-7" target="_blank">Esports Position Paper Part 3</a></p>
        <p>#6 <a href="https://mailchi.mp/d0713a9329a3/nicks-newsletter-no-6" target="_blank">Esports Position Paper Parts 1 and 2</a></p>
        <p>#5 <a href="https://mailchi.mp/4dd85aba0f6c/nicks-newsletter-no-5" target="_blank">Esport Franchising, Foreign Dollars, Sandbox VR</a></p>
        <p>#4 <a href="https://mailchi.mp/f5d4bfb8442e/newsletter-181589" target="_blank">Climate friendly cars, Qualcomm's Suit</a></p>
        <p>04/21/19 - <a href="https://mailchi.mp/564128407ae4/newsletter-3" target="_blank">Nick's Newsletter #3</a></p>
        <p>04/15/19 - <a href="https://mailchi.mp/2d738deab5f9/newsletter-2" target="_blank">Nick's Newsletter #2</a></p>
        <p>04/08/19 - <a href="https://mailchi.mp/4df259d6ff76/newsletter-1" target="_blank">Nick's Newsletter #1</a></p>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

{%include footer.html%} 
</body>
