<!DOCTYPE html>
<html lang="en">
<head>
{%include header.html%}
</head>
<body>
  <div class="wrapper">
    <div class="site site-blog sub-page">
    <section class="animated fadeIn">
      {%include navbar.html%}
    </section>
    <main class="animated fadeIn">
      <header class="page-header">
        <h2>Reading List</h2>
        <p>
          Reading to me is a window into other worlds. This section will house my current favorite articles, books, podcasts, or newsletters I've read. Yes, I know podcasts don't count as reading, but I think they serve much of the same purpose as reading. These will not encompass all the articles and things I am reading, as the list might be tedious to scroll through. I will send out the full weekly list in my newsletters. Personal reading such as science fiction/fantasy books will be listed on the about me portion of my website. 
        </p>
        <h3>Articles</h3>
        <p>
          <a href="https://redef.com/original/5c8ec976685ff248783faa2f?curator=MediaREDEF" target="_blank">Matthew Ball -<i>Nine Reasons Why Disney+ Will Succeed</i></a>
        </p>
        <p>
          <a href="https://www.perell.com/blog/fruits-of-friendship" target="_blank">David Perell </a> -<i>The Fruits of Friendship</i> 
        </p>
        <p>
          <a href="https://seekingalpha.com/article/4255661-disney-sets-stage-battle-netflix-amazon" target="_blank">Disney sets the stage for battle with Amazon and Netflix</a> - an interesting take on how Disney+ will compete with some of the DTC behemoths, even if I disagree that Disney will not be a direct competitor...
        </p>
        <p>
          <a href="https://www.ben-evans.com/benedictevans/2018/8/29/tesla-software-and-disruption" target="_blank">Benedict Evans -<i>Tesla, software, and disruption </i></a>
        </p>
        <p>
          <a href="https://pmarchive.com/guide_to_startups_part1.html" target="_blank">Marc Andreessen's Guide to Startups</a>
        </p>
        <p>
          <a href="https://www0.gsb.columbia.edu/mygsb/faculty/research/pubfiles/4500/Kaplan%20Klebanov%20Sorensen.pdf" target="_blank">Steve Kaplan -<i>Which CEO Characteristics and Abilities Matter</i></a>
        </p>

        <h3>Books</h3>
        <p>
          I'm currently reading Different: Escaping the Competitive Herd by Youngme Moon. I've only gotten 30 pages through so far, but it's amazing. It's really opening my mind on how thinking 'the right way' is just making me like everyone else. Can't wait to finish the book.
        </p>

        <h3>Podcasts</h3>
        <p>
          <a href="https://www.forbes.com/sites/steveforbes/2019/03/31/howard-schultz-how-the-former-starbucks-ceos-early-experiences-shaped-his-worldview/amp/" target="_blank">Forbes -<i>How the Former Starbucks CEO's Early Experiences Shaped his World View</i>
        </p>
        <p>
          <a href="https://open.spotify.com/episode/3FXwnwGiRiNfVOAAH2ptll?si=LT8_IWRrS2mZ86sO0-IcbQ" target="_blank">a16z -<i>For the Billions of Creatives Out There</i></a>
        </p>
        <p>
          <a href="https://www.bloomberg.com/news/audio/2018-11-30/ray-dalio-live-replay-with-barry-ritholtz-podcast" target="_blank">Bloomberg Masters in Business -<i>Ray Dalio Live</i></a>
        </p>
        <p>
          <a href="https://www.bloomberg.com/news/audio/2018-11-20/ralph-scamardella-on-the-high-end-food-business-podcast" target="_blank">Bloomberg Masters in Business -<i>Ralph Scamardella on the High-End Food Business</i></a>
        </p>
        <p>
          <a href="https://open.spotify.com/episode/2nH4oOgs4PsWq0B2uM3e9u?si=iU3qeS-jR0mO4jV-KmTwOA" target="_blank">a16z -<i>Gaming Goes Mainstream</i></a>
        </p>
        <p>
          <a href="https://exponent.fm/episode-169-family-friendly-disney/" target="_blank">Exponent -<i>Family-Friendly Disney</i></a>
        </p>
        <p>
          <a href="https://open.spotify.com/episode/3OYErMBRztQ3eniQLvPP2Q?si=Nq0eP33wSRmZFPXV2_HLjw" target="_blank">a16z -<i>Stories and Lessons in Enterprise Sales</i></a>
        </p>
        <p>
          <a href="https://open.spotify.com/episode/3UIsFwYHT52N9KWgS6A94d?si=dzSptgkFSK6osVA0oFCIyA" target="_blank">a16z -<i>The Business of Cybercrime</i></a>
        </p>

</header>
{%include footer.html%}
</body>
</html>